html,
body,
:root {
  height: 100%;
  background-color: black;
  color-scheme: dark;
}
.flex.justify-center {
  display: flex; /* Activate Flexbox */
  justify-content: center; /* Horizontally center content */
}